<!DOCTYPE html>
<html>
    <head>
        <title>Clothesdry</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    </head>
    <body>
        <h1>Can you dry clothes outside tonight?</h1>

        <h2> {{ verdict }} </h2>
        <ul>
            <li>Rain Chance: {{forecast.rain_chance}}</li>
            <li>Low Temp: {{forecast.low_temp}}</li>
            <li>Dew Point: {{forecast.dew_point}}</li>
            <li>Humidity: {{forecast.humidity}}</li>
            <li>Wind Speed: {{forecast.wind_speed}}</li>
        </ul>
    </body>
</html>